body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.toggle {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 39px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition: all .5s;
}

p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#Fahrenheit {
    left: 0px;
}

#Celsius {
    left: 37px;
}

.checkbox:checked + .toggle::after {
    left: 37px;
}

.checkbox:checked + .toggle {
    background-color: green;
}

.checkbox {
    display: none;
}
